@charset "UTF-8";

body {
    font-size: 14px;
    margin-bottom: 60px;
    padding-top: 60px;
    padding-bottom: 20px;
    font-family:
    /*Candara,*/
    Optima,
    "Helvetica Neue",
      Segoe,"Segoe UI",
      "Lucida Sans Unicode","Lucida Grande",
      "Avenir","Seravek","Ubuntu" !important;
}

html {
  position: relative;
  min-height: 100%;
}

.img-thumbnail-xue{
/*  padding:6px;
  line-height:1.42857143;
  background-color:#ffffff;
  border:1px solid #dddddd;
  border-radius:6px;
  display:inline-block;*/
  max-width: 60%;
  max-height: 80%;
}

/*.navbar-default {
    background-image: -webkit-linear-gradient(top, #ffffff 0%, #dfdfdf 100%);
    background-image: linear-gradient(to bottom, #ffffff 0%, #dfdfdf 100%);
}
*/
.navbar .nav > li > a, .navbar .nav > li,
.navbar .nav > li.current-menu-item > a, 
.navbar .nav > li.current-menu-ancestor > a {
    font-size:      1.1em;
    color: #306EB7;
}

.navbar-default .navbar-brand {
  color: #306EB7 ;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover{
  color: #333;
}

bg-primary:hover{background-color:#0055AA}

.navbar .nav > li.dropdown.open.active > a:hover, 
.navbar .nav > li.dropdown.open > a {
    color: #fff;
    /* background-color: #297ACC; */
    background-color:#306EB7;
    border-color: #fff;
}

.navbar .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar .navbar-nav .open .dropdown-menu > li > a:focus,
.navbar .navbar-nav .open .dropdown-menu > .active > a,
.navbar .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #fff !important;
  /* background-color: #428bca !important; */
  background-color: #666 ;
}

.dropdown-menu li {
    font-size: 1.1em;
}

.dropdown-menu li>a:hover {
    color: #fff;
    /* background-color: #297ACC; */
    background-color:#0055AA;
    border-color: #fff;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.container .text-muted {
  margin: 20px 0;
}

.img_responsive{
  padding:6px;
  line-height:1.42857143;
  background-color:#ffffff;
  border:1px solid #dddddd;
  border-radius:6px;
  display:inline-block;
  max-width: 60%;
  max-height: 60%;
}

a {
  color: #0055AA;
}

a:hover, a:focus {
  color:#666;
}

a.menu-hobby {
  color: #b00 !important; 
}
